<mat-card>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="mat-headline">

      <h3 class="title">{{node.name}}</h3>

      <mat-form-field appearance="outline" *ngIf="node.type">
        <mat-label>Choose an type of graph</mat-label>
        <mat-select [value]="node.type" (selectionChange)="onTypeChange($event, node)">
          <mat-option *ngFor="let item of graphTypes" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="node.type">
        <mat-label>Choose an color of graph</mat-label>
        <mat-select [value]="node.color" (selectionChange)="onColorChange($event, node)" class="color-picker">
          <mat-option *ngFor="let item of graphColors" [value]="item"><span
            style="display:inline-block; width: 20px; height: 20px; margin-right: 20px"
            [style.background-color]="item"></span><span [style.color]="item">{{item}}</span></mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <span>{{node.name}}</span>
    </mat-tree-node>
  </mat-tree>
</mat-card>
