<mat-toolbar>

    <span>Apexchar simple demo for Angular</span>
    <mat-form-field appearance="outline">
        <mat-label>Choose date range</mat-label>
        <mat-date-range-input
                [formGroup]="selectedRange"
                [rangePicker]="dateFilterPicker"
                [comparisonStart]="fullRange.value.start"
                [comparisonEnd]="fullRange.value.end">
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="dateFilterPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateFilterPicker>
            <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply
                        [disabled]="!selectedRange.value.start || !selectedRange.value.end"
                        (click)="onDatePickerApply($event)">Apply
                </button>
            </mat-date-range-picker-actions>

        </mat-date-range-picker>
    </mat-form-field>

</mat-toolbar>
<div id="chart">
    <app-simple-chart [options]="chartDefs[0]"  [labels]="labels"></app-simple-chart>
    <app-simple-chart [options]="chartDefs[0]" [only]="onlylabelsFilter4Chart[1]" [labels]="labels"></app-simple-chart>
</div>
