<mat-card>
    <div class="mat-card-header">
        <button mat-icon-button class="example-icon" (click)="isOptionsOpen = !isOptionsOpen">
            <mat-icon>menu</mat-icon>
        </button>


       <mat-card-title cdkOverlayOrigin #trigger="cdkOverlayOrigin">{{title}}</mat-card-title>
    </div>

    <mat-card-content>
        <apx-chart
                *ngIf="isDefined"
                [series]="data"
                [chart]="options.chart"
                [yaxis]="options.yaxis"
                [xaxis]="options.xaxis"
                [labels]="labels"
                [stroke]="options.stroke"
                [plotOptions]="options.plotOptions"
                [markers]="options.markers"
                [fill]="options.fill"
                [tooltip]="options.tooltip"
        ></apx-chart>





        <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="trigger"
                [cdkConnectedOverlayOpen]="isOptionsOpen"
                [cdkConnectedOverlayHasBackdrop]="true"
                (backdropClick)="isOptionsOpen = false"
        >
            <app-chart-options-changer *ngIf="isDefined"
                                       [data]="data"
                                       [chartsNames]="chartNames"
                                       (typeChange)="onTypeChange($event)"
                                       (colorChange)="onColorChange($event)"
            ></app-chart-options-changer>
        </ng-template>

    </mat-card-content>
    <mat-slide-toggle *ngFor="let name of chartNames" [name]="name" [checked]="isChartPresent(name)" (change)="onViewToggle($event)"> {{name}}</mat-slide-toggle>
    <mat-spinner *ngIf="!isDefined"></mat-spinner>
</mat-card>
